

/* ****************************************** */
/* main-header */
/* ****************************************** */

.main-header {
    height: 100px;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.main-header-logo {
    display: inline-block;
    padding: 30px 0;
}

.main-header-nav {
    float: right;
}

.main-header-nav li {
    display: inline-block;
}

.main-header-nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 20px;
    font-size: 15px;
    line-height: 60px;
    transition: 0.5s all;
    border-left: 1px solid rgba(255,255,255,0.2);
}

.main-header-nav a:hover {
    background-color: rgba(255,255,255,0.2);
}

.main-header-nav ul:last-child {
    border-right: 1px solid rgba(255,255,255,0.2);
}

/* ****************************************** */
/* main-banner*/
/* ****************************************** */

.main-banner {
    width: 100%;
    height: 810px;
    padding-top: 250px;
    position: relative;
}

.main-banner-title {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 110px;
    color: white;
    letter-spacing: -4px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.main-banner-text {
    padding: 0 100px;
    text-align: center;
    margin: 40px auto;
    font-size: 20px;
    color: rgba(255,255,255,0.9);
    font-weight: lighter;
}

.main-banner-btn-position {
    width: 100%;
    margin-top: 80px;
    margin-left: 330px;
}

.main-banner-btn {
    text-transform: uppercase;
    font-weight: 700;
    background-color: red;
    padding: 20px 50px;
    border-radius: 40px;
    text-decoration: none;
    margin: 10px;
}

.main-banner-btn-red {
    color: white;
    background-color: red;
}

.main-banner-btn-red:hover {
    background-color: #2f2c32;
}

.main-banner-btn-white {
    color: red;
    background-color: white;
}

.main-banner-btn-white:hover {
    color: white;
    background-color: #2f2c32;
}

.main-banner-arrow {
    width: 60px;
    height: 60px;
    background-color: red;
    transform: rotate(45deg);
    position: absolute;
    top: 780px;
    left: 610px;
}

.main-banner-arrow-back {
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,0.3);
    transform: rotate(45deg);
    position: absolute;
    top: 770px;
    left: 600px;
}

.main-banner-arrow img {
    padding-top: 30px;
    padding-left: 13px;
    transform: rotate(-45deg);
    position: absolute;
}


/* ****************************************** */
/* main-news */
/* ****************************************** */

.main-news-title {
    height: 200px;
    color: red;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
}

.main-news-title span {
    color: #353435;
}

.main-news-box {

}

.main-news-box-img {
    width: 100%;
}

.main-news-box-title {
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding-top: 20px;
}

.main-news-box-text {
    color: gray;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    padding-top: 25px;
    margin-bottom: 45px;
}

.main-news-box-btn {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background-color: red;
    padding: 13px 35px;
    border-radius: 40px;
    text-decoration: none;
}

.main-news-box-btn:hover {
    background-color: #2f2c32;
}

/* ****************************************** */
/* main-articles */
/* ****************************************** */

.main-articles {
    background-color: #2b292e;
}

.main-articles-title {
    height: 200px;
    color: red;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    padding-top: 90px;
}

.main-articles-title span {
    color: white;
}

.main-articles-box {

}

.main-articles-box-img {
    width: 100%;
    border-radius: 100%;
}

.main-articles-box-title {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}

.main-articles-box-text {
    color: darkgray;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    padding-top: 25px;
    margin-bottom: 45px;
    text-align: center;
}

.main-articles-box-btn {
    color: white;
    font-weight: 700;
    background-color: red;
    padding: 10px 30px;
    border-radius: 40px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 35px;
}

.main-articles-box-btn:hover {
    background-color: gray;
}

/* ****************************************** */
/* main-our-section */
/* ****************************************** */



/* ****************************************** */
/* main-footer */
/* ****************************************** */

.main-footer {
    background-color: #1f1f1f;
}

.main-footer-logo {
    display: inline-block;
    width: 20%%;
    height: 100px;
    padding-top: 45px;
}

.main-footer-box {

}

.main-footer-box-link {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    text-decoration: none;
}

.main-footer-box-link:hover {
    color: red;
}

.main-footer-text {
    color: gray;
    float: right;
}