.main-header {
    height: 100px;
    width: 100%;
    background-color: rgba($main-color-third, 0.3);
    border-bottom: 1px solid rgba($main-color-second, 0.2);
}
.main-header-logo {
    display: inline-block;
    padding: 30px 0;
}
.main-header-nav {
    float: right;
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        color: $main-color-second;
        text-transform: uppercase;
        padding: 20px;
        font-size: 15px;
        line-height: 60px;
        transition: 0.5s all;
        border-left: 1px solid rgba($main-color-second,0.2);
        &:hover {
            background-color: rgba($main-color-second,0.2);
        }
    }
    ul:last-child {
        border-right: 1px solid rgba($main-color-second,0.2);
    }
}